<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard | Schwartmanns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="static/css/img/schwartmanns-logo.png" width="auto" height="30" alt="schwartmanns-logo">
      </a>
      <li class="nav-item">
        <a class="nav-link" href="/">Start</a>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registrieren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      
    </nav>
    <table style="height: 100px;">
      <tbody>
        <tr>
          
          <td class="align-top">
            <div class="card" style="width: 18rem;">
              <img src="{{machine_static.picture}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name der Maschine: {{machine_static.name}}</h5>
                <p class="card-text">Kurzer Text zur Maschine: {{machine_static.text}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Baujahr</li>
                <li class="list-group-item">Maschinennummer</li>
                <li class="list-group-item">Standort</li>
                <li class="list-group-item">Statische Daten: Leistung:{{machine_static.power}}, Spannung:{{machine_static.voltage}},
                  Strom:{{machine_static.current}}, Blechstärke:{{machine_static.thikness}}
                </li>
                <li class="list-group-item">Variable Daten</li>
              </ul>
              <div class="card-body">
                <a href="https://www.schwartmanns.de/de/" class="card-link">Webseite</a>
                <a href="#" class="card-link">Maschine löschen</a>
                <a href="#" class="card-link">Maschine kopieren</a>
              </div>
            </div>

          </td>
          <td class="align-top">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name der Maschine</h5>
                <p class="card-text">Kurzer Text zur Maschine.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Baujahr</li>
                <li class="list-group-item">Maschinennummer</li>
                <li class="list-group-item">Standort</li>
                <li class="list-group-item">Statische Daten</li>
                <li class="list-group-item">Variable Daten</li>
              </ul>
              <div class="card-body">
                <a href="https://www.schwartmanns.de/de/" class="card-link">Webseite</a>
                <a href="#" class="card-link">Maschine löschen</a>
                <a href="#" class="card-link">Maschine kopieren</a>
              </div>
            </div>

          </td>
          
        </tr>
      </tbody>
    </table>
  </body>
</html>